# Virtuelle Umgebung
.venv/

# Bytecode / Cache
__pycache__/
*.pyc
*.pyo

# macOS
.DS_Store

# Python-Umgebungen / Secrets
.env
.env.*
*.env

# Logs
*.log

# Generierte Dateien
app/static/data.json
app/static/embeddings.json
app/static/descriptors.json

# Bilder & Thumbnails (nur Platzhalterdateien bleiben im Repo)
app/static/images/*
app/static/thumbs/*
!app/static/images/.gitkeep
!app/static/thumbs/.gitkeep
