{% extends "base.html" %}
{% block title %}Neues Foto anlegen{% endblock %}
{% block content %}
  <h1>Neues Foto anlegen</h1>

  <form method="post" enctype="multipart/form-data">
    <p>
      <label>Bild:</label><br>
      <input type="file" name="photo" required>
    </p>
    <p>
      <label>Titel:</label><br>
      <input type="text" name="title">
    </p>
    <p>
      <label>Künstler:</label><br>
      <input type="text" name="artist">
    </p>
    <p>
      <label>Jahr:</label><br>
      <input type="number" name="year">
    </p>
    <p>
      <label>Ort (gemalt):</label><br>
      <input type="text" name="location_painted">
    </p>
    <p>
      <label>Ort (gekauft):</label><br>
      <input type="text" name="location_bought">
    </p>
    <p>
      <label>Beschreibung:</label><br>
      <textarea name="description" rows="3"></textarea>
    </p>
    <button type="submit">Speichern</button>
  </form>
{% endblock %}
